.bus_img {
    background-image: url("./img/rtc1.jpg");
    background-size: cover;
    color: black;
    position: absolute;
    top: -50px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.accueil([href^="/bus"]) {
    display: none;
  }

.bus_date {
    font-weight: bold;
    font-size: 26px;
    background-color: white;
    width: 135px;
    height: 20px;
    position: absolute;
    left: 140px;
    top: 729px;
}
.bus_time {
    font-size: 21px;
    background-color: white;
    width: 70px;
    height: 20px;
    position: absolute;
    left: 180px;
    top: 755px;
}
.timer {
    font-weight: bold;
    font-size: 21px;
    background-color: white;
    width: 60px;
    height: 20px;
    position: absolute;
    left: 330px;
    top: 755px;
    color: green;
}
.bus_datedebut {
    font-weight: bold;
    font-size: 26px;
    background-color: white;
    width: 138px;
    height: 20px;
    position: absolute;
    left: 30px;
    top: 634px;
}
.bus_datefin {
    font-weight: bold;
    font-size: 26px;
    background-color: white;
    width: 138px;
    height: 20px;
    position: absolute;
    left: 255px;
    top: 634px;
}
  .dot {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 210px;
    top: 330px;
    border-radius: 50%;
  }
  
  .dot1 {
    background-color: rgb(17,49,184);
    animation: rotate1 5s linear infinite;
  }
  
  .dot2 {
    background-color: rgb(33,80,46);
    animation: rotate2 5s linear infinite;
  }
  
  @keyframes rotate1 {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateX(100px);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateX(100px);
    }
  }
  
  @keyframes rotate2 {
    0% {
      transform: translate(-50%, -50%) rotate(180deg) translateX(100px);
    }
    100% {
      transform: translate(-50%, -50%) rotate(540deg) translateX(100px);
    }
  }